<header role="banner" class="header">
  <h1>Mon Site E-commerce</h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Accueil</a
        >
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<div class="tiles-container">
  <div *ngFor="let article of panier | keyvalue" class="tile">
    <img [src]="article.value.imageUrl" alt="{{ article.value.name }}" />
    <div class="details">
      <h3>{{ article.value.name }}</h3>
      <p>Quantité: {{ article.value.quantity }}</p>
    </div>
  </div>
</div>
